.rebar3
_[^_]*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*.erl~
*.aes~
aesophia
.qcci
current_counterexample.eqc
nohup.out
*.aes
*.aci
decode_call_cache_iris
encode_call_cache_iris
decode_call_cache_lima
encode_call_cache_lima
