%% -*- mode: erlang; indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.

{deps, [ {aebytecode, {git, "https://github.com/aeternity/aebytecode.git", {ref,"0699f35"}}}
       , {jsx, {git, "https://github.com/talentdeficit/jsx.git",
                     {tag, "2.8.0"}}}
       ]}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib, crypto, mnesia]}
           ]}.

{profiles, [
    {local, []},
    {test, [
        {deps, [{aesophia, {git, "https://github.com/aeternity/aesophia.git", {ref,"98a4049"}}},
                {aesophia_cli, {git, "git://github.com/aeternity/aesophia_cli", {ref, "5f03a89"}}}]},
        {erl_opts, [{d, 'TEST'}]}
    ]}
]}.
